fastapi
uvicorn
boto3
langchain
langchain-aws
langgraph
pinecone-client
python-pptx
PyMuPDF
pandas
openpyxl
pyxlsb
python-multipart
python-dotenv
langchain-pinecone
python-docx
langchain-text-splitters
